//VARIAVEIS
$mobile: "screen and (min-width:320px)";
$tablet: "screen and (min-width:768px)";
$desktop: "screen and (min-width:992px)";
$large-desktop: "screen and (min-width:1360px)";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
