/*
  RODE O SASS NO TERMINAL COM A SEGUINTE LINHA DE COMANDO:
  sass --watch sass/style.scss:css/style.css --style compressed --sourcemap=none
*/

@import 'fonts';

body {
  font-size: 16px;

  @import 'functions';
  @import 'header';
  @import 'main';
  @import 'sections';
  @import 'regras-soltas';
  @import 'footer';

}
